fastapi
uvicorn
pymongo
python-dotenv
pandas
numpy
scikit-learn
joblib
python-jose[cryptography]
passlib[bcrypt]
bcryp
python-multipart
pydantic
pydantic[email]
pyjwt
xgboost
lightgbm
torch
tensorflow
statsmodels
